<div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
  <div class="card-header">Timetables</div>
  <div class="card-body">
    <h5 class="card-title">/timetable/<strong>courseCode</strong></h5>
    <p class="card-text">Full course code with forward slashes replaced with dashes needed.</p>
    <p class="card-text">e.g. /timetable/Sg_KSDEV_B07-F-Y2-1-(A)</p>
  </div>
</div>

<div class="card text-white bg-dark" style="max-width: 24rem;">
  <div class="card-header">Free rooms</div>
  <div class="card-body">
    <h5 class="card-title">/freerooms</h5>
    <p class="card-text">Experimental. Lists avaiable free rooms.</p>
  </div>
</div>
