<div class="card text-dark bg-light mb-3" style="max-width: 40rem;">
  <div class="card-header font-weight-bold">Timetables</div>
  <div class="card-body">
    <h5 class="card-title">/api/timetable/{courseCode}/{collegeIndex}{semesterIndex}</h5>
    <p class="card-text">Returns JSON with full week class data.</p>
    <p class="card-text">Full course code with forward slashes replaced with hyphens needed.</p>
    <h5 class="card-title">Course Code Example:</h5>
    <span class="card-text">SG_KSDEV_B07/F/Y2/1/(A) => </span>
    <span class="card-text">SG_KSDEV_B07-F-Y2-1-(A)</span>
    <h5 class="card-title mt-2">College Indexes:</h5>
    <ul class="card-text">
      <li>IT Sligo: 0</li>
      <li>Athlone IT: 1</li>
      <li>Limerick IT: 2</li>
    </ul>
    <h5 class="card-title">Semester Indexes:</h5>
    <ul class="card-text">
      <li>Semester 1: 0</li>
      <li>Semester 2: 1</li>
    </ul>
    <h5 class="card-title">Example usage</h5>
    <p class="card-text">e.g. /api/timetable/SG_KSDEV_B07-F-Y2-1-(A)/0/0</p>
  </div>
</div>

<div class="card text-dark bg-light mb-3 shadow-sm" style="max-width: 40rem;">
  <div class="card-header font-weight-bold">Free rooms</div>
  <div class="card-body">
    <h5 class="card-title">/api/freerooms/{0 or 1}</h5>
    <p class="card-text">Returns available free labs or rooms for today. Append 0 for labs or 1 for lecture rooms</p>
    <h5 class="card-title">Example usage</h5>
    <p class="card-text">/api/freerooms/0</p>
  </div>
</div>

<div class="card text-dark bg-light mb-3 shadow-sm" style="max-width: 40rem;">
  <div class="card-header font-weight-bold">Course Codes</div>
  <div class="card-body">
    <h5 class="card-title">/api/allcourses</h5>
    <p class="card-text">Returns JSON for all courses</p>
  </div>
</div>
