<div class="card text-dark bg-light mb-3" style="max-width: 24rem;">
  <div class="card-header font-weight-bold">Timetables</div>
  <div class="card-body">
    <h5 class="card-title">api/timetable/{courseCode}</h5>
    <p class="card-text">Returns JSON with full week class data.</p>
    <p class="card-text">Full course code with forward slashes replaced with hyphens needed.</p>
    <p class="card-text">e.g. api/timetable/SG_KSDEV_B07-F-Y2-1-(A)</p>
  </div>
</div>

<div class="card text-dark bg-light mb-3 shadow-sm" style="max-width: 24rem;">
  <div class="card-header font-weight-bold">Free rooms</div>
  <div class="card-body">
    <h5 class="card-title">api/freerooms/{0 or 1}</h5>
    <p class="card-text">Returns available free rooms for today. Append 0 for labs or 1 for lecture rooms</p>
    <p class="card-text">e.g. api/freerooms/0</p>
  </div>
</div>

<div class="card text-dark bg-light mb-3 shadow-sm" style="max-width: 24rem;">
  <div class="card-header font-weight-bold">Course Codes</div>
  <div class="card-body">
    <h5 class="card-title">api/allcourses/{0 or 1}</h5>
    <p class="card-text">Returns JSON with all course codes</p>
    <p class="card-text">e.g. api/freerooms/0</p>
  </div>
</div>
